<template>
  <div class="backdrop" />
</template>

<style scoped>
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--col-dark);
  opacity: 0.8;
}
</style>
