<template>
  <img v-if="type === 'hand'" src="~@/img/hand.png" alt="Hand" class="gear rarity hand" :class="rarity" />
  <img v-if="type === 'face'" src="~@/img/face.png" alt="Face" class="gear rarity face" :class="rarity" />
  <img v-if="type === 'head'" src="~@/img/head.png" alt="Head" class="gear rarity head" :class="rarity" />
  <img v-if="type === 'neck'" src="~@/img/neck.png" alt="Neck" class="gear rarity neck" :class="rarity" />
  <img v-if="type === 'robe'" src="~@/img/robe.png" alt="Robe" class="gear rarity robe" :class="rarity" />
  <img v-if="type === 'outfit'" src="~@/img/outfit.png" alt="Outfit" class="gear rarity outfit" :class="rarity" />
</template>

<script lang="ts" setup>
import { PropType } from 'vue'

import { Rarity, Type } from '@/api'

defineProps({
  type: {
    type: String as PropType<Type>,
    required: true
  },

  rarity: {
    type: String as PropType<Rarity>,
    default: 'common'
  }
})
</script>

<style scoped>
.gear {
  width: 70px;
  border: 2px solid var(--col-gold);
  border-radius: 5px;
}
</style>
