<template>
  <div class="gear-container">
    <GearImage :type="type" :rarity="rarity" />

    <div class="stats-container">
      <div class="stats">
        <div class="stat"><img src="~@/img/defense.png" alt="Defense" /> {{ defense }}</div>
        <div class="stat"><img src="~@/img/offense.png" alt="Offense" /> {{ offense }}</div>
      </div>

      <div class="trait">{{ trait.label }}</div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { PropType } from 'vue'

import { Rarity, Trait, Type } from '../api'

import GearImage from './GearImage.vue'

defineProps({
  type: {
    type: String as PropType<Type>,
    required: true
  },

  rarity: {
    type: String as PropType<Rarity>,
    default: 'common'
  },

  offense: {
    type: Number,
    default: 0
  },

  defense: {
    type: Number,
    default: 0
  },

  trait: {
    type: Object as PropType<Trait>,
    default: () => ({})
  }
})
</script>

<style scoped>
.gear-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  cursor: pointer;
}

.stats-container {
  flex: 1;
  margin-left: 18px;
  font-size: 20px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stat {
  display: flex;
  flex: 1;
  align-items: center;
}

.stat img {
  height: 28px;
  margin-right: 8px;
}

.trait {
  margin-top: 4px;
  font-size: 18px;
  text-align: left;
}
</style>
