<template>
  <div class="bullet rarity" :class="[rarity, { selected }]" />
</template>

<script lang="ts" setup>
import { PropType } from 'vue'

import { Rarity } from '@/api'

defineProps({
  rarity: {
    type: String as PropType<Rarity>,
    default: 'common'
  },

  selected: {
    type: Boolean,
    default: false
  }
})
</script>

<style scoped>
.bullet {
  width: 50px;
  height: 50px;
  border: 2px solid var(--col-dark);
  border-radius: 50px;
}

.bullet.selected {
  border: 2px solid var(--col-gold);
}
</style>
