<template>
  <Backdrop />

  <div class="main">
    <Refresh v-if="needRefresh" class="btn btn-sm btn-reload" @click="updateServiceWorker()" />

    <Logo />

    <GearStat
      v-for="g in state.gears"
      :key="g.type"
      :type="g.type"
      :rarity="g.rarity"
      :offense="g.offense"
      :defense="g.defense"
      :trait="g.trait"
      @click="showEditForm(g)"
    />
  </div>

  <GearEditForm
    :show="state.editFormShown"
    :gear-to-edit="state.gearToEdit"
    @save="saveGearData"
    @close="closeEditForm"
  />
</template>

<script setup lang="ts">
import { Refresh } from 'mdue'
import { useRegisterSW } from 'virtual:pwa-register/vue'
import { onMounted, reactive } from 'vue'

import { Gear, getGears, saveGear } from '@/api'

import GearEditForm from './GearEditForm.vue'
import Backdrop from './components/Backdrop.vue'
import GearStat from './components/GearStat.vue'
import Logo from './components/Logo.vue'

const { needRefresh, updateServiceWorker } = useRegisterSW()

type WakeLockSentinel = {
  release: () => void
}

const state = reactive({
  gears: getGears(),

  editFormShown: false,
  gearToEdit: {} as Gear,

  wakeLockSentinel: {} as WakeLockSentinel
})

// Check if wakeLock API is supported to prevent the screen to go to sleep
async function initScreenLock() {
  if ('wakeLock' in window.navigator) state.wakeLockSentinel = await window.navigator.wakeLock.request('screen')
}

// Will be released when closing the app
onMounted(initScreenLock)

// Gear edition
function showEditForm(gear: Gear) {
  state.editFormShown = true
  state.gearToEdit = gear
}

function saveGearData(gear: Gear) {
  // Save
  saveGear(gear)
  // Close form
  closeEditForm()
  // Refresh list
  state.gears = getGears()
}

function closeEditForm() {
  state.editFormShown = false
  // Delay to let animation finish
  setTimeout(() => {
    state.gearToEdit = {} as Gear
  }, 500)
}
</script>
