<template>
  <div id="gear-edit-form" :class="show ? 'shown' : 'hidden'">
    <div class="form-backdrop" />

    <form>
      <GearImage v-if="gearToEdit.type" :type="gearToEdit.type" :rarity="gearToEdit.rarity" />

      <div class="fields">
        <h2>Rareté</h2>
        <div class="rarity-container">
          <RarityBullet rarity="common" :selected="state.rarity === 'common'" @click="state.rarity = 'common'" />
          <RarityBullet
            rarity="well-appointed"
            :selected="state.rarity === 'well-appointed'"
            @click="state.rarity = 'well-appointed'"
          />
          <RarityBullet rarity="superb" :selected="state.rarity === 'superb'" @click="state.rarity = 'superb'" />
          <RarityBullet
            rarity="extraordinary"
            :selected="state.rarity === 'extraordinary'"
            @click="state.rarity = 'extraordinary'"
          />
          <RarityBullet
            rarity="legendary"
            :selected="state.rarity === 'legendary'"
            @click="state.rarity = 'legendary'"
          />
        </div>

        <h2>Défense</h2>
        <div class="stat">
          <img src="~@/img/defense.png" alt="Défense" />
          <input v-model="state.defense" type="number" />
        </div>

        <h2>Offensive</h2>
        <div class="stat">
          <img src="~@/img/offense.png" alt="Offensive" />
          <input v-model="state.offense" type="number" />
        </div>

        <h2>Attribut</h2>
        <select v-model="state.trait">
          <option :value="emptyTrait">Pas d'attribut</option>
          <option v-for="t in traits" :key="t.label" :value="t">{{ t.label }}</option>
        </select>
      </div>

      <div class="form-controls">
        <Close class="btn" @click="cancel" />
        <Check class="btn" @click="save" />
      </div>
    </form>
  </div>
</template>

<script lang="ts" setup>
import { Check, Close } from 'mdue'
import { PropType, reactive, watch } from 'vue'

import { Gear } from '@/api'

import { emptyTrait, traits } from './assets/traits'

import GearImage from './components/GearImage.vue'
import RarityBullet from './components/RarityBullet.vue'

const emit = defineEmits(['save', 'close'])

const props = defineProps({
  show: {
    type: Boolean,
    default: false
  },

  gearToEdit: {
    type: Object as PropType<Gear>,
    default: () => ({})
  }
})

const state = reactive({
  rarity: props.gearToEdit.rarity,
  defense: props.gearToEdit.defense,
  offense: props.gearToEdit.offense,
  trait: props.gearToEdit.trait || emptyTrait
})

// Set state on open
watch(
  () => props.show,
  () => {
    state.rarity = props.gearToEdit.rarity
    state.defense = props.gearToEdit.defense
    state.offense = props.gearToEdit.offense
    state.trait = props.gearToEdit.trait || emptyTrait
  }
)

// Functions
function save() {
  emit('save', {
    type: props.gearToEdit.type,
    rarity: state.rarity,
    defense: state.defense,
    offense: state.offense,
    trait: state.trait
  })
}

function cancel() {
  emit('close')
}
</script>

<style scoped>
#gear-edit-form {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}

#gear-edit-form.hidden {
  right: 100vw;
}

#gear-edit-form.show {
  right: 0;
}

.form-backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--col-dark);
  opacity: 0.8;
}

#gear-edit-form form {
  position: relative;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0 2rem;
  text-align: center;
}

#gear-edit-form form .fields {
  width: 100%;
}

#gear-edit-form form h2 {
  margin-top: 2rem;
}

.rarity-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat img {
  height: 50px;
  margin-right: 20px;
}

select,
.stat input {
  font-family: Diphylleia, serif;
  color: var(--col-white);
  text-align: center;
  background-color: transparent;
  border: 2px solid transparent;
}

.stat input {
  width: 70px;
  font-size: 2rem;
}

select {
  width: 250px;
  font-size: 1.2rem;
}

select > option {
  font-size: 1rem;
  color: initial;
  background-color: initial;
}

select:focus,
select:active,
.stat input:focus,
.stat input:active {
  border-bottom: 2px solid var(--col-white);
  outline: none;
}
</style>
