:root {
  --col-white: #dce0df;
  --col-dark: #212121;
  --col-gold: #ddb352;
}

@font-face {
  font-family: Diphylleia;
  src: url('./assets/diphylleia-regular.ttf');
}

* {
  user-select: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Diphylleia, serif;
  color: var(--col-white);
  background-color: var(--col-dark);
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  padding: 2rem 0 0;
  overflow: hidden;
}

.main > * {
  position: relative;
  z-index: 10;
}

.btn {
  padding: 1.5rem 2rem;
  font-size: 3rem;
  color: var(--col-grey);
  cursor: pointer;
  transition: all ease 0.3s;
}

.btn:hover {
  color: var(--col-white);
}

.btn:focus,
.btn:active {
  color: var(--col-grey);
}

.btn-sm {
  font-size: 1.5rem;
}

.btn-reload {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
}

@media (width >= 768px) {
  #app, form {
    max-width: 500px;
    margin: 0 auto;
  }
}

.rarity.common {
  background: rgb(180 178 176);
  background: radial-gradient(circle, rgb(180 178 176 / 100%) 35%, rgb(33 33 33 / 100%) 100%);
}

.rarity.well-appointed {
  background: rgb(8 118 44);
  background: radial-gradient(circle, rgb(8 118 44 / 100%) 35%, rgb(28 45 39 / 100%) 100%);
}

.rarity.superb {
  background: rgb(4 106 178);
  background: radial-gradient(circle, rgb(4 106 178 / 100%) 35%, rgb(27 33 38 / 100%) 100%);
}

.rarity.extraordinary {
  background: rgb(100 65 114);
  background: radial-gradient(circle, rgb(100 65 114 / 100%) 35%, rgb(30 25 31 / 100%) 100%);
}

.rarity.legendary {
  background: rgb(169 96 5);
  background: radial-gradient(circle, rgb(167 96 5 / 100%) 35%, rgb(41 34 31 / 100%) 100%);
}
